<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"50rem","wideSize":"62.5rem"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","style":{"typography":{"fontSize":"160px","fontStyle":"italic","fontWeight":"800"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"0","bottom":"0"}}},"textColor":"secondary"} -->
<p class="has-text-align-center has-secondary-color has-text-color has-link-color" style="margin-top:0;margin-right:var(--wp--preset--spacing--40);margin-bottom:0;margin-left:var(--wp--preset--spacing--40);padding-right:0;padding-left:0;font-size:160px;font-style:italic;font-weight:800">404.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
<h1 class="wp-block-heading has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--60)">Oh no! We couldn’t find that page!</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Not to worry, you can try searching our website or seeing if any of the links below are helpful.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"\u003cbr\u003e","placeholder":"Search the site...","buttonText":"Search","fontSize":"medium"} /-->

<!-- wp:heading -->
<h2 class="wp-block-heading">Latest News</h2>
<!-- /wp:heading -->

<!-- wp:latest-posts {"style":{"typography":{"lineHeight":1.600000000000000088817841970012523233890533447265625}},"fontSize":"medium"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->