<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->

<!-- wp:query {"queryId":3,"query":{"perPage":10,"pages":0,"offset":0,"postType":"fwd-student","order":"asc","orderBy":"name","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[],"disable_pagination":true},"namespace":"advanced-query-loop","layout":{"contentSize":null,"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"bottom":"0"},"margin":{"bottom":"var:preset|spacing|20"}}}} /-->

<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"2/3"} /-->

<!-- wp:post-terms {"term":"fwd-student-category","prefix":"Specialty: ","fontSize":"medium"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->